body{
    height:100%;
    background: black url("../img/barbackground.jpg") no-repeat;
    background-size: cover;
}

/*.bg-image{*/
    /*!*opacity: .2;*!*/
    /*background: url("../img/barbackground.jpg") no-repeat center;*/
    /*background-size: cover;*/
/*}*/


.menu-title{
    font-size: 32px;
    font-family: fantasy;
}

.menu-table{
    position:relative;
    z-index:1;
    margin: 10vh 10vw 0 10vw;
    width:80vw;
}

footer{
    position: relative;
    bottom:0;
    height:60px;
}